@model ExerciseGarage2Lexicon.Models.ParkedVehicle

@{
    ViewData["Title"] = "Create";
}
<div class="BoxAroundLayout">
    <h1>Park Your Vehicle</h1>

    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           
                @* dropdown for vehicles *@
                <div class="form-group">
                    <select asp-for="VehicleType" class="form-control">
                        <option value="">Select vehicle type</option>
                
                        @foreach (var type in VehicleHelper.GetVehicleTypes())
                        {
                            <option value="@type">@type</option>
                        }
                    </select>
                    <span asp-validation-for="VehicleType" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="RegistrationNumber" class="control-label">Registration Number</label>
                    <input asp-for="RegistrationNumber" class="form-control" />
                    <span asp-validation-for="RegistrationNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Color" class="control-label"></label>
                    <input asp-for="Color" class="form-control" />
                    <span asp-validation-for="Color" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Brand" class="control-label"></label>
                    <input asp-for="Brand" class="form-control" />
                    <span asp-validation-for="Brand" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Model" class="control-label"></label>
                    <input asp-for="Model" class="form-control" />
                    <span asp-validation-for="Model" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="NumberOfWheels" class="control-label">Number Of Wheels</label>
                    <input asp-for="NumberOfWheels" class="form-control" />
                    <span asp-validation-for="NumberOfWheels" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Park" class="btn btn-primary" />
                </div>

                <div class="mt-2 alert alert-@ViewBag.MessageType" role="alert">
                    @ViewBag.Message
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to Garage</a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
</div>