@model ExerciseGarage2Lexicon.Models.ViewModels.FeedbackViewModel


@* @if (Model != null)
{
    <div class="alert alert-@Model.MessageType" role="alert">
        @Html.DisplayFor(m => m.Message)
    </div>
} *@